# Environment variables
.env
.env.*
!.env.example

# Frontend
frontend/node_modules/
frontend/dist/
frontend*.zip
frontend-backup*/

# PocketBase executable
backend/pocketbase
backend/pocketbase.exe
backend/*.zip

# PocketBase local data
backend/pb_data/

# Generated frontend served by PocketBase
backend/pb_public/

# Logs
*.log

# macOS
.DS_Store